2048
2048.exe
2048_win.zip
2048.app/Contents/MacOS/bd_osx
2048.app/Contents/Resources/iconfile.icns
2048.app/Contents/Frameworks/SDL2.framework/libSDL2-2.0.0.dylib
SDL2-2.0.4
2048rc.o
a2048.ico
2048.rc
.DS_Store

